* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
}
header {
  height: 490px;
  width: 100%;
  background-image: url(./img/backgrundheader.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
  flex-direction: column;
  padding-top: 50px;
}
h1 {
  background-color: #ffffff00;
  text-shadow: 4px 1px 2px rgba(255, 245, 245, 0.486);
  color: #fff;
  font-size: 50px;
  position: relative;
  right: 700px;
  bottom: 90px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 30px;
  user-select: none;
  font-family: "Satisfy", cursive;
  margin-top: 40px;
}
header p {
  background-color: #ffffff00;
  width: 25%;
  height: 120px;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  font-size: 35px;
  font-family: "Poetsen One", sans-serif;
  text-align: left;
  padding-left: 20px;
  margin-bottom: 70px;
}
.search-contianer {
  background-color: #ffffff00;
  display: flex;
  flex-wrap: wrap;
  width: 500px;
}
.search-contianer input {
  display: flex;
  flex-wrap: wrap;
  background-color: #dcdddd7e;
  border: none;
  height: 45px;
  width: 460px;
  -webkit-border-top-left-radius: 50px;
  -webkit-border-bottom-left-radius: 50px;
  -moz-border-radius-topleft: 50px;
  -moz-border-radius-bottomleft: 50px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 20px;
  transition: 1ms ease-in;
  outline: none;
  margin-top: 50px;
}
input::placeholder {
  color: #00000071;
  font-size: 14px;
}
input :hover {
  background-color: rgb(177, 105, 12);
}

.search-contianer button {
  height: 45px;
  background-color: #dcdddd75;
  -webkit-border-top-right-radius: 50px;
  -webkit-border-bottom-right-radius: 50px;
  -moz-border-radius-topright: 50px;
  -moz-border-radius-bottomright: 50px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
  margin-top: 50px;
}
.search-contianer button i {
  background-color: rgba(45, 92, 114, 0);
  color: #00000071;
  font-size: 20px;
  border-left: 1px solid #00000071;
  padding-right: 10px;
  padding-left: 5px;
}
.container-Lista {
  background-color: #c51e1e00;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 80px;
  justify-content: center;
  padding-top: 30px;
}
.container-Lista ul {
  background-color: rgba(0, 255, 255, 0);
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  list-style-type: none;
}
.container-Lista li a {
  padding: 5px auto;
  font-size: 20px;
  text-decoration: none;
  color: #000000;
  font-family: "Poetsen One", sans-serif;
  font: weight 10px;
}
.container-Lista li a:hover {
  color: rgb(0, 0, 0);
}

/* container imagenes*/
section {
  display: grid;
}
.container-gallery {
  background-color: rgba(0, 0, 0, 0);
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 50px 40px 0px;
  box-sizing: border-box;
  overflow-y: hidden;
  max-width: 100%;
}

.cardImg {
  box-shadow: 6px 10px 5px 2px rgba(8, 46, 82, 0.59);
  -webkit-box-shadow: 6px 10px 5px 2px rgba(8, 46, 82, 0.096);
  height: 250px;
  width: 100%;
  object-fit: cover;
  transform: 2s all;
  transition: 1s ease;
  border-radius: 20px;
  display: block;
  position: relative;
}

.cardImg:hover {
  height: 300px;
}
.img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.title-img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #fff;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  text-align: center;
  font-family: "Exo", sans-serif;
}

.cardImg:hover .title-img {
  opacity: 1;
  visibility: visible;
}
@media only screen and (max-width: 768px) {
  .container-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 600px) {
  .container-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 490px) {
  body {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    background: hsla(213, 77%, 14%, 1);
    background-color: #fff;
  }
  header {
    width: 100%;
    padding-top: 20px;
  }
  h1 {
    font-size: 60px;
  }
  .search-container {
    margin-top: 20px;
  }
  .search-container input {
    background-color: rgb(112, 112, 112);
    width: 20px;
    height: 20px;
  }
  .search-container button {
    width: 50%;
  }
  .container-gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}
