* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
  background: rgb(255, 255, 255);
}
header {
  height: 250px;
  width: 500px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
  flex-direction: column;
  border-radius: 20px;
  padding-top: 40px;
}
h1 {
  text-shadow: 4px 1px 2px rgba(0, 0, 0, 0.6);
  font-size: 100px;
  position: relative;
  right: 0px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 30px;
  user-select: none;
  font-family: "Satisfy", cursive;
}
.search-contianer {
  display: flex;
  flex-wrap: wrap;
}
.search-contianer input {
  background-color: #dcdddd8c;
  border: none;
  height: 45px;
  width: 290px;
  -webkit-border-top-left-radius: 50px;
  -webkit-border-bottom-left-radius: 50px;
  -moz-border-radius-topleft: 50px;
  -moz-border-radius-bottomleft: 50px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 20px;
  transition: 1ms ease-in;
  outline: none;
}
input::placeholder {
  color: #00000071;
  font-size: 14px;
}
input :hover {
  background-color: rgb(177, 105, 12);
}

.search-contianer button {
  height: 45px;
  background-color: #dcdddd8c;
  -webkit-border-top-right-radius: 50px;
  -webkit-border-bottom-right-radius: 50px;
  -moz-border-radius-topright: 50px;
  -moz-border-radius-bottomright: 50px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
}
.search-contianer button i {
  background-color: rgba(45, 92, 114, 0);
  color: #00000071;
  font-size: 20px;
  border-left: 1px solid #00000071;
  padding-right: 10px;
  padding-left: 5px;
}
section {
  margin-top: 60px;
}
.container-Img {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: hidden;
}
.imagenes {
  box-shadow: 6px 10px 5px 2px rgba(8, 46, 82, 0.59);
  -webkit-box-shadow: 6px 10px 5px 2px rgba(8, 46, 82, 0.096);

  height: 250px;
  width: 100%;
  object-fit: cover;
  transform: 2s all;
  transition: 1s ease;
  border-radius: 20px;
}
.imagenes:hover {
  height: 300px;
}
.title-img-hover {
  background-color: aqua;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 50px;
  border-radius: 20px;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: opacity 0.3s ease;
}

@media only screen and (max-width: 490px) {
  body {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    background: hsla(213, 77%, 14%, 1);
    background-color: #fff;
  }
  header {
    height: 200px;
    width: 100%;
    padding-top: 20px;
  }
  h1 {
    font-size: 60px;
  }
  .search-container {
    margin-top: 20px;
  }
  .search-container input {
    width: 50%;
  }
  .search-container button {
    width: 50%;
  }
  .container-Img {
    grid-template-columns: repeat(1, 1fr);
  }
}
