* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poetsen One", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(../img/pexels-content-pixie-1405717-4103438.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title {
  background-color: #e20b0b00;
  text-shadow: 4px 1px 2px rgba(0, 0, 0, 0.433);
  font-size: 50px;
  color: #000;
  user-select: none;
  font-family: "Satisfy", cursive;
  text-decoration: none;
  position: absolute;
  top: 30px;
  left: 50px;
}

.Container-Form {
  background-color: #2ecc7000;
  display: flex;
  align-items: flex-start;
  max-width: 800px;
  margin-top: 10px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.Container-Form img {
  flex: 0 0 auto;
  width: 50%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

form {
  background-color: #f9f0df;
  padding: 36px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}

.valor {
  padding: 10px;
}

label {
  font-size: 20px;
  margin-top: 20px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.322);
  background-color: #f9f0df;
}

input#name:focus,
input#email:focus,
textarea::-webkit-input-placeholder:focus {
  background-color: #f9f0df;
  outline: none;
}

button {
  width: 120px;
  height: 40px;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
  align-self: center;
}

.swal2-confirm.custom-ok-button {
  background-color: #f9f0df !important;
  color: #000000ce !important;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.466);

  border-radius: 5px;
}
.error-inputs {
  border-color: red;
}

@media only screen and (max-width: 550px) {
  form {
    position: relative;
  }

  .Container-Form img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    transition: z-index 0.5s ease;
  }

  h1 {
    font-size: 30px;
  }

  label {
    font-size: 15px;
  }

  button {
    width: 100px;
    height: 30px;
  }

  .title {
    font-size: 30px;
  }
}
